body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:947px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:331px;
  width:746px;
  height:1334px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:1525px;
  width:746px;
  height:140px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:1547px;
  width:50px;
  height:50px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:1615px;
  width:49px;
  height:28px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:1547px;
  width:50px;
  height:50px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:1615px;
  width:1px;
  height:84px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:278px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:457px;
  width:746px;
  height:278px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:795px;
  width:50px;
  height:50px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:863px;
  width:49px;
  height:28px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:795px;
  width:50px;
  height:50px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:863px;
  width:49px;
  height:28px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:796px;
  width:50px;
  height:50px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:864px;
  width:49px;
  height:28px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:799px;
  width:50px;
  height:50px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:867px;
  width:49px;
  height:28px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:950px;
  width:50px;
  height:50px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:1018px;
  width:49px;
  height:28px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:950px;
  width:50px;
  height:50px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:1018px;
  width:97px;
  height:28px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:1114px;
  width:740px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:736px;
  word-wrap:break-word;
}
#u2504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1313px;
  width:145px;
  height:28px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:1355px;
  width:746px;
  height:150px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:130px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:1365px;
  width:154px;
  height:130px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:57px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:1365px;
  width:99px;
  height:28px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1365px;
  width:297px;
  height:28px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u2514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:1467px;
  width:280px;
  height:28px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1066px;
  width:746px;
  height:38px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1071px;
  width:559px;
  height:28px;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  white-space:nowrap;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:1615px;
  width:25px;
  height:28px;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:1245px;
  width:97px;
  height:28px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:950px;
  width:50px;
  height:50px;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:1018px;
  width:49px;
  height:28px;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:950px;
  width:50px;
  height:50px;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:1018px;
  width:49px;
  height:28px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:1334px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:331px;
  width:746px;
  height:1334px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:126px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:205px;
  width:746px;
  height:126px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:1447px;
  width:740px;
  height:218px;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1467px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1581px;
  width:232px;
  height:28px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u2542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1467px;
  width:124px;
  height:28px;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u2544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1581px;
  width:75px;
  height:28px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1581px;
  width:247px;
  height:56px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u2548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:331px;
  width:746px;
  height:1334px;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1033px;
  width:264px;
  height:71px;
}
#u2550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:71px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:140px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:397px;
  width:138px;
  height:140px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:584px;
  width:321px;
  height:37px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u2555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:657px;
  width:641px;
  height:222px;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  white-space:nowrap;
}
