body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:126px;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:186px;
  width:746px;
  height:126px;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:1208px;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:312px;
  width:746px;
  height:1208px;
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:596px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:126px;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:186px;
  width:4px;
  height:126px;
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:1208px;
}
#u6083 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:312px;
  width:4px;
  height:1208px;
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:596px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1420px;
  width:750px;
  height:100px;
  font-size:36px;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u6087 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:481px;
  width:750px;
  height:100px;
  font-size:36px;
  text-align:left;
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:746px;
  word-wrap:break-word;
}
#u6089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:left;
}
#u6089 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:581px;
  width:750px;
  height:100px;
  font-size:36px;
  text-align:left;
}
#u6090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:746px;
  word-wrap:break-word;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:509px;
  width:140px;
  height:52px;
}
#u6091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:729px;
  width:433px;
  height:52px;
}
#u6092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
