body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:934px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:208px;
  width:746px;
  height:1334px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:126px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:208px;
  width:746px;
  height:126px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1492px;
  width:1px;
  height:84px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:1502px;
  width:1px;
  height:84px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:381px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:417px;
  width:312px;
  height:381px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:834px;
  width:164px;
  height:24px;
  font-size:20px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:901px;
  width:66px;
  height:24px;
  font-size:20px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:334px;
  width:746px;
  height:73px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:357px;
  width:180px;
  height:28px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:868px;
  width:232px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:960px;
  width:746px;
  height:68px;
  font-size:20px;
  text-align:left;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:742px;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6600FF;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:983px;
  width:91px;
  height:22px;
  color:#6600FF;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1449px;
  width:746px;
  height:93px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1449px;
  width:447px;
  height:93px;
  font-size:20px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:443px;
  word-wrap:break-word;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1052px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1167px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:33px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1162px;
  width:234px;
  height:33px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1205px;
  width:253px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:114px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1258px;
  width:125px;
  height:114px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:114px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:1258px;
  width:125px;
  height:114px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1098px;
  width:46px;
  height:43px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:1108px;
  width:73px;
  height:28px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:1108px;
  width:121px;
  height:28px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:2px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1086px;
  width:702px;
  height:1px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:698px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:1449px;
  width:299px;
  height:93px;
  font-size:20px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:295px;
  word-wrap:break-word;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:901px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
